*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  /* Colors */
  :root{
    --White: hsl(0, 0%, 100%);
--Light-gray:hsl(212, 45%, 89%);
--Grayish-blue:hsl(220, 15%, 55%);
--Dark-blue: hsl(218,44%, 22%);
  }
  
  body{
    min-height: 100vh;
    max-width: 100%;
    background-color: var(--Light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.container{
  background-color: var(--White);
  max-width: 400px;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
}
.img img{
  width: 100%;
  border-radius: 20px;
  margin-bottom: 25px;
}
.content{
  padding: 0 25px;
}
.content h1{
  margin-bottom: 20px;
  color: var(--Dark-blue);
  font-size: 28px;
}
.content p{
  padding: 0 20px;
  color: var(--Grayish-blue);
  font-size: 15px;
  margin-bottom: 20px;

}
@media (max-width:375px){
  .container{
     width: 340px;
  }
  .content{
      padding: 0 12px;
  }
  .content h1{
      font-size: 25px;
  }
  .img img{
      margin-bottom: 20px;
  }
  .content h1{
      margin-bottom: 15px;
  }
}